body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}
.games button {
    padding: 15px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #ff6600;
    border: none;
    color: white;
}
#gameCanvas {
    display: none;
    background: black;
    width: 90%;
    height: 500px;
    margin-top: 20px;
}
